<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main_layout.html}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
</head>
<body>
<div class="container" layout:fragment="main-content">
    <div class="search-container">
        <input type="text" id="searchInput" onkeyup="searchTable()" placeholder="Search...">
    </div>

    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Image</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${products}">
            <td th:text="${product.id}"></td>
            <td>
                <img class="image" th:if="${product.getImageUrl() != null and product.getImageUrl() != ''}" th:src="@{${product.getImageUrl()}}" alt="product img">
                <img class="image" th:if="${product.getImageUrl() == null or product.getImageUrl() == ''}" th:src="@{/uploads/error.jpg}" alt="default img">
            </td>
            <td th:text="${product.getName()}"></td>
            <td th:text="${product.getDescription()}"></td>
            <td th:text="${product.getPrice()}"></td>
            <td>
                <a th:href="@{/admin/products/edit/{id}(id=${product.id})}">
                    <button class="update-btn btn">Update</button>
                </a>
                <form th:action="@{/admin/products/delete/{id}(id=${product.id})}" method="post"
                      onsubmit="return confirm('Are you sure you want to delete this user?')">
                    <button class="remove-btn btn" type="submit">Remove</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>