<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main_layout.html}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>
<body>
    <div class="container" layout:fragment="main-content">
        <h2>Edit Product</h2>
        <form th:action="@{/admin/products/update/{id}(id=${product.id})}" th:object="${product}" method="post">
            <label class="label">Name:</label>
            <input class="input" type="text" th:field="*{name}" required>

            <label class="label">Description:</label>
            <textarea class="input" th:field="*{description}" required></textarea>

            <label class="label">Price:</label>
            <input class="input" type="number" step="0.01" th:field="*{price}" required>

            <label class="label">Image URL:</label>
            <input class="input" type="text" th:field="*{imageUrl}">

            <button class="btn update-btn" type="submit">UPDATE</button>
        </form>
        <a class="btn" href="/admin/products">Cancel</a>
    </div>
</body>
</html>