<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Register</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="d-flex align-items-center justify-content-center vh-100">
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h3 class="text-center mb-3">Đăng Ký</h3>
                    <form th:action="@{/auth/register}" method="post" th:object="${user}">
                        <div class="mb-3">
                            <label class="form-label">Username</label>
                            <input type="text" th:field="*{username}" class="form-control" required>
                        </div>
                        <div class="text-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
                        <div class="mb-3">
                            <label class="form-label">Password</label>
                            <input type="password" th:field="*{password}" class="form-control" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Confirm Password</label>
                            <input type="password" name="confirmPassword" class="form-control" required>
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-success">Đăng Ký</button>
                        </div>
                        <div class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
                    </form>
                    <div class="text-center mt-3">
                        <a th:href="@{/auth/formLogin}" class="text-decoration-none">Đã có tài khoản? Đăng nhập ngay</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
